.home {
    grid-template-columns: auto 22.5rem;
    grid-template-rows: 6.5rem calc(100vh - 6.5rem);
    grid-template-areas:
        "header aside"
        "main aside";

    &__header {
        grid-area: header;
    }

    &__main {
        grid-area: main;
    }

    &__aside {
        grid-area: aside;
    }
}